# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
AndroidBuild/
IosBuild/
/[Ll]ibrary/
/[Rr]ecordings/
/Assets/Resources/SharedAssets/EditorGameCenter?*.asset*
/Assets/Plugins/Editor/JetBrains/
sysinfo.txt
*.stackdump
Logs/

# Keep GitHub Pages WebGL output tracked
!/docs/
!/docs/**

# ======================================================= #
# Visual Studio / MonoDevelop / Rider / Consulo generated #
# ======================================================= #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
/.idea*/
.consulo/
*.csproj
*.tmp
*.pidb
*.svd
.idea/
.gradle/

# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
